/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 11, 16, 4:48:25 PM
    Author     : Miguel Sietereales
*/

html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

.no-margin{
    margin: 0px !important;
    margin-bottom: 0px !important;
}


.radio-custom{
    font-size: 16px;
}

.modal{
    margin-top: 5em;
}

.iframe-custom{
    border: 0;
    width: 100%;
    height: 100%;
}

.row-cust{
    height: 94%;
    padding: 0px !important;
    margin: 0px;
}

.select-test{
    margin-right: 1em !important;
}

.row-survey-opt{
    padding-top: .4em;
    padding-bottom: .4em;
    /*height: 10%;*/
}

.modal .modal-body {
    max-height: 30em;
    overflow-y: auto;
    overflow-x: hidden;
}

.hr-custom{
    margin-top: 2px;
    margin-bottom: 15px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.hr-custom-2{
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.hr-custom-3{
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.t-title{
    margin-bottom: 0px;
    color: #029f5b;
    font-size: 18px;
    font-weight: bold;
}

.modal-header{
    border: 0px;
}

.modal-footer{
    padding-top: 0px;
    border: 0px;
    padding-bottom: 30px;
}

.btn-userinfo {
    background-color: #029f5b;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: 700;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #029f5b;
    letter-spacing: 1px;
}
.btn-userinfo:hover,
.btn-userinfo:focus {
    color: #fff;
    background-color: #03AF65;
    border-color: #03AF65;
    outline-width: 0px;
}

.btn-userinfo-2 {
    background-color: #029f5b;
    outline: none;
    color: #fff;
    height: auto;
    font-weight: 700;
    border-color: #029f5b;
}

.yay{
    margin-top: 7px;
    margin-bottom: 7px;
}

.btn-userinfo-2:hover,
.btn-userinfo-2:focus {
    color: #fff;
    background-color: #03AF65;
    border-color: #03AF65;
    outline-width: 0px;
}

#ex1 .slider-selection,
#ex2 .slider-selection,
#ex3 .slider-selection,
#ex4 .slider-selection,
#ex5 .slider-selection,
#ex6 .slider-selection,
#ex7 .slider-selection,
#ex8 .slider-selection,
#ex9 .slider-selection,
#ex10 .slider-selection,
#ex11 .slider-selection,
#ex12 .slider-selection,
#ex13 .slider-selection,
#ex14 .slider-selection,
#ex15 .slider-selection,
#ex16 .slider-selection,
#ex17 .slider-selection,
#ex18 .slider-selection{
    background: transparent;
}

#ex1 .slider-handle,
#ex2 .slider-handle,
#ex3 .slider-handle,
#ex4 .slider-handle,
#ex5 .slider-handle,
#ex6 .slider-handle,
#ex7 .slider-handle,
#ex8 .slider-handle,
#ex9 .slider-handle,
#ex10 .slider-handle,
#ex11 .slider-handle,
#ex12 .slider-handle,
#ex13 .slider-handle,
#ex14 .slider-handle,
#ex15 .slider-handle,
#ex16 .slider-handle,
#ex17 .slider-handle,
#ex18 .slider-handle{
    background: #029f5b;
}